.products {
  padding: 30px 40px;
}

.products h2 {
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  color: #010f1c;
}

@media (max-width: 800px) {
  .products h2 {
    font-size: 30px;
  }
}

.products p {
  margin-top: 10px;
  color: #9a9a9a;
}

.products .container {
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.products .container .filter {
  padding: 20px 30px;
}
@media (max-width: 800px) {
 .products .container .filter {
   padding: 10px 10px;
}
}


.products .container .filter .categories h3 {
  color: #010f1c;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.products .container .filter .categories ul {
  margin-top: 10px;
}

.products .container .filter .categories ul li {
  list-style: none;
  margin-top: 20px;
  color: #010f1c;
  cursor: pointer;
}

@media (max-width: 800px) {
  .products .container .filter .categories ul li {
    margin-bottom: 30px;
    margin-right:0;
  }
}

.products .container .productbox {
  margin-right: 0;
}

.products .container .productbox .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products .container .productbox .content .box {
  padding: 10px 20px;
  overflow: hidden;
  width: 280px;
  height: 380px;
  border: 1px solid #e2e0e0;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 800px){
  .products .container .productbox .content .box{
    padding: 5px 10px;
   
  }
}

.products .container .productbox .content .box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.products .container .productbox .content .box .img_box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e0e0;
}

@media screen and (max-width: 768px) {
  .products .container .productbox .content .box .img_box img {
    flex-direction: column;
    align-items: center;
  }
}

.products .container .productbox .content .box .img_box img {
  width: 250px;
  height: 200px;
  margin-right: 50px;
}

.product .container .box .detail {
  margin-top: 5px;
}

.product .container .box .detail p {
  color: #9a9a9a;
  font-size: 14px;
}

.box .detail h3 {
  margin-top: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  width: calc(100% - 15px);
}
