.top_banner {
  padding: 90px 30px;
  width: 100%;
  background: rgba(251, 148, 58, 0.244);
}
@media screen and (max-width: 800px) {
  .top_banner {
    flex-direction: column;
    padding: 40px 15px;
  }
}

.top_banner .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .top_banner .container {
    display: block;
    margin-top: 5px;
  }
  .top_banner .container .detail {
    text-align: left;
    display: inline-block;
    font-size: 14px;
  }
}

.top_banner .container .detail {
  margin-top: 10%;
  margin-left: 40px;
}

.top_banner .container .detail h2 {
  font-size: 2.5rem;
  color: #01011c;
  margin-right: 50%;
  margin-bottom: 40px;
}
@media screen and (max-width: 800px) {
  .top_banner .container .detail h2 {
    font-size: 1.9rem;
  }
}

.top_banner .container .detail .link {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #01011c;
  background: #fff;
  transition: 0.5s;
}

.top_banner .container .detail .link:hover {
  background: orange;
  color: #000;
}

.top_banner .container .img_box img {
  width: 650px;
  width: 650px;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .top_banner .container .img_box img {
    width: 100%;
    margin-top: 20px;
  }
}

.product {
  display: block;
  flex-direction: column;
  padding: 30px 40px;
  width: 100%;
}

.product h2 {
  font-size: 27px;
  color: #01011c;
  margin-bottom: 20px;
}

.product .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product .container .box {
  padding: 10px 20px;
  overflow: hidden;
  width: 290px;
  height: 380px;
  border: 1px solid #e2e0e0;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

.product .container .box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product .container .box .img_box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e0e0;
}

.product .container .box .img_box img {
  z-index: 0;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

.detail .icon {
  text-decoration: none;
  display: flex;
  transition: 0.5s;
  margin: 10px;
}

.icon li {
  padding: 5px 20px;
  border-radius: 5px;
  margin: 10px;
  list-style: none;
  border: 1px solid #9a9a9a;
  color: #01011c;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: 0.5s;
  font-size: 16px;
  margin-top: 0;
}

.icon li:hover {
  background: rgba(252, 216, 151, 0.712);
  color: #000;
}

.product .container .box .detail {
  margin-top: 5px;
}

.product .container .box p {
  color: #9a9a9a;
  font-size: 14px;
}

.product .container .box h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  width: calc(100% - 15px);
}

.banner {
  width: 100%;
}

.banner .container {
  padding: 40px 50px;
  background: rgba(251, 148, 58, 0.244);
  display: flex;
  justify-content: space-between;
}

.banner .container .detail {
  margin-top: 5%;
  margin-left: 20px;
}

.banner .container .detail h4 {
  font-size: 17px;
  color: orange;
  letter-spacing: 1px;
 margin-bottom: 20px;
}

.banner .container .detail h3 {
  margin-top: 10px;
  font-size: 24px;
  margin-right: 20%;
 
  color: #000;
  margin-bottom: 40px;
}



.banner .container .detail .link {
  padding: 10px 30px;
  color: #e8f4ff;
  background: #01011c;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
}

.banner .container .detail .link:hover {
  color: #01011c;
  background: #e8f4ff;
}

.banner .container .img_box img {
  margin-top: 25px;
  width: 500px;
  width: 500px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
@media (max-width: 800px) {
  .banner .container {
    display: block;
    text-align: center;
  }
  .banner .container .detail h3 {
    display: inline-block;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    text-align: center;
  
  }
  .banner .container .detail .link {
    font-size: 0.8rem;
    
  }
  .banner .container .img_box img {
    width: 300px;

    height: auto;
    margin-bottom: 75px;
  }

   

}
